/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #605dc8;
  --secondary-color: #8b89e6;
  --accent-color: #e8e7fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}

.brand-name {
  font-weight: 600;
  font-size: 1.3em;
  color: var(--primary-color);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.brand-logo {
  height: 44px;
  width: 44px;
  margin-right: 8px;
}
